@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #e20913;
  --color-primary-dull: rgba(226, 9, 19, 0.8); /*#ff3b3f*/
  --color-darkBg: #09090b;
}

* {
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}

body {
  color: #fff;
  background-color: #09090b;
}

/* Chrome, Safari, Edge */
.scrollable::-webkit-scrollbar {
  width: 8px;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #787777;
  border-radius: 10px;
}

.scrollable::-webkit-scrollbar-track {
  background-color: #1e1e1e;
}

.btn-rounded-full {
  @apply flex items-center gap-1 px-6 py-3 text-sm bg-primary hover:bg-primary-dull hover:gap-4 transition-all duration-300 ease-in-out rounded-full font-medium cursor-pointer;
}

.btn-flat {
  @apply px-10 py-3 text-sm bg-primary hover:bg-primary-dull transition-colors rounded-md font-medium cursor-pointer;
}
