# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Build output
dist/
dist-ssr/
build/
.next/
out/
.temp/
.temp-build/

# Environment files
.env
.env.*.local
.env.local

# Local configuration files
*.local

# System files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Prettier
.prettierignore

# TypeScript
*.tsbuildinfo

# Coverage reports
coverage/

# Testing
jest-cache/
jest-config.js
jest.json
__snapshots__/


# Mac system files
*.DS_Store
